﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kursovay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">kursovay</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - kursovay - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function updateSize() {
            var mb_in_bytes = 1024 * 1024;
            var file = document.getElementById("uploadInput").files[0],
                type_file = file.name.split('.').pop();
            if (file.size < mb_in_bytes * 5 && type_file === "docx") {
                return true;
            }
            return false;
        }

        function is_empty(x)
        {
           return ( 
                (typeof x == 'undefined')
                            ||
                (x == null) 
                            ||
                (x == false)  //same as: !x
                            ||
                (x.length == 0)
                            ||
                (x == "")
                            ||
                (x.replace(/\s/g,"") == "")
                            ||
                (!/[^\s]/.test(x))
                            ||
                (/^\s*$/.test(x))
          );
        }
        
        let input = document.querySelector('#key_value');

	    input.addEventListener('input',()=> {
		    input.value = input.value.replace(/[^а-яА-ЯёЁ ]/,'');
	    });

        var form = document.getElementById('form').addEventListener('submit', function (event) {
            event.preventDefault();
            var key = document.getElementById("key_value");

            var file = document.getElementById("uploadInput");
            var textarea = document.getElementById("inputText");
            var error = false;

            if (is_empty(key.value)) {
                key.classList.add("is-invalid");
                error = true;
            } else {
                key.classList.remove('is-invalid');
                key.classList.add('is-valid');
            }

            if (is_empty(textarea.value) && !file.value) {
                textarea.classList.add('is-invalid');
                file.classList.add('is-invalid');
                error = true;
            } else {
                if (!is_empty(textarea.value))
                {
                    textarea.classList.add('is-valid');
                }

                if (file.value) {
                    if (!updateSize()) {
                        file.classList.add('is-invalid');
                        error = true;
                    } else {
                        file.classList.remove('is-invalid');
                        file.classList.add('is-valid');
                    }
                }
            }

            if (!error) {
                this.submit();
            }
        });


</script>

    @RenderSection("Scripts", required: false)
</body>
</html>
