﻿@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <h2>Иходные данные:</h2>
    <form method="post" enctype="multipart/form-data" action="/Base/GetDataFromForms" id="form">
        <div class="form-group">
            <label for="select_value">Выберите действия с данными:</label>
            <select class="form-control" id="select_value" name="flag_action">
                <option value="true">Расшифровать</option>
                <option value="false">Зашифровать</option>
            </select>
        </div>
        <p>Введите данные в форму и/или добавьте файл для обработки:</p>
        <div class="form-group row">
            <label for="key_value" class="col-sm-2 col-form-label">Введите ключ:</label>
            <div class="col-sm-10">
                 <input type="text" class="form-control" id="key_value" name="key_value" required>
                 <small class="form-text text-muted">Введите ключ используя кириллицу</small>

                 <div class="invalid-feedback">
                     Данные некорректны, введите снова!
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputText" class="col-sm-2 col-form-label">Введите текст:</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="inputText" name="data_text"></textarea>
                <div class="invalid-feedback">
                    Строка не может быть пустой
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="uploadInput">Добавьте файл для обработки:</label>
            <input type="file" class="form-control form-control-file" name="uploadedFile" id="uploadInput">
            <div class="invalid-feedback">
                Файл недопустимого размера или типа
            </div>
            <div id="e-fileinfo"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button  class="btn btn-primary" id="btn_form">Отправить</button>
            </div>
        </div>
    </form>
        </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h2>Результат</h2>

        @if (ViewBag.error != null)
        {
            <h5>Ошибки:</h5>
            @foreach(var item in ViewBag.error)
            {
                @foreach (var val in item)
                {
                    <p>@val</p>
                }
             }
            }
      
        @if (ViewBag.flag_input != null)
        {
            <h5>Введенные данные:</h5>
            <textarea class="form-control mb-4" rows="5" name="data_textarea" readonly>@ViewBag.initial_data_textarea</textarea>
            <h5>Данные после обработки:</h5>
            <form method="post" action="/Base/GetVirtualFile">
                <textarea class="form-control mb-4" rows="5" name="data_textarea" readonly>@ViewBag.input_data</textarea>
                <button type="submit" class="btn btn-primary mt-4">Скачать</button>
            </form>
        }

            
        @if (ViewBag.flag_file != null)
        {
            <h5>Данные файла:</h5>
            <textarea class="form-control mb-4" rows="5" name="data_textarea" readonly>@ViewBag.initial_data_file</textarea>

            <h5>После обработки:</h5>
            <form method="post" action="/Base/GetVirtualFile">
                <textarea class="form-control" rows="5" class="mb-4" name="data_textarea" readonly>@ViewBag.test</textarea>
                <button type="submit" class="btn btn-primary mt-4">Скачать</button>
            </form>
        }
    </div>
</div>

